n8n/workflows/France Travail - Collecte Offres V1 (3).json
{
  "name": "France Travail - Collecte Offres V1",
  "nodes": [
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        -464
      ],
      "id": "8885242a-14bf-4ba7-b736-84ccf6c6e270",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d7a8e3e-c381-4bff-9fb8-5e1e487fa80c",
              "name": "Nom : test",
              "value": "={{ \"Post N°\" + $json.id }}",
              "type": "string"
            },
            {
              "id": "1c5f6daa-78e6-4f4c-bf6d-d1ef442a4ecd",
              "name": "Nom : date_execution",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "24354b9b-79c7-497b-9387-64ee0fe9ac2b",
              "name": "Nom : workflow_name",
              "value": "={{ $workflow.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        -720
      ],
      "id": "4e7470b6-1c0e-4626-9153-2d8c10f8c751",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://api.francetravail.io/partenaire/offresdemploi/v2/offres/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "motsCles",
              "value": "informatique"
            },
            {
              "name": "range",
              "value": "1-5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer PtLb760pVIzKVY2xfbn9JMPCEnQ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -944
      ],
      "id": "6ef923e3-3744-46ef-8549-428b0944644f",
      "name": "France Travail - Offres"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4600da3b-0953-4810-acd3-80a3f046aca6",
              "name": "nombre_offres",
              "value": "={{ $json.resultats.length }}",
              "type": "string"
            },
            {
              "id": "504d7f43-4409-4213-9579-9fa4f5ea1df5",
              "name": "range_utilise",
              "value": "={{ \"0-4\" }}",
              "type": "string"
            },
            {
              "id": "a286f54a-6d05-47e9-a904-50984ad5513f",
              "name": "premiere_offre",
              "value": "={{ $json.resultats[0].intitule }}",
              "type": "string"
            },
            {
              "id": "8b4c3225-139a-432c-9f9d-3e2c19672750",
              "name": "intitule_1",
              "value": "={{ $json.resultats[0].intitule }}",
              "type": "string"
            },
            {
              "id": "0384931d-4c14-4059-a67e-de8db276ba51",
              "name": "intitule_2",
              "value": "={{ $json.resultats[1].intitule }}",
              "type": "string"
            },
            {
              "id": "bf95ae52-0d13-41b3-9745-9c95016d41fa",
              "name": "intitule_3",
              "value": "={{ $json.resultats[2].intitule }}",
              "type": "string"
            },
            {
              "id": "1d072d54-fbcc-4ca2-bfd6-36882adc6ee7",
              "name": " entreprise_1",
              "value": "={{ $json.resultats[0].entreprise.nom }}",
              "type": "string"
            },
            {
              "id": "7c6c4eac-a1e9-47d4-82ea-d2696a33119f",
              "name": "entreprise_2",
              "value": "={{ $json.resultats[1].entreprise.nom }}",
              "type": "string"
            },
            {
              "id": "15e92cd3-e546-406a-b9b2-b64840eed1ed",
              "name": "entreprise_3",
              "value": "={{ $json.resultats[2].entreprise.nom }}",
              "type": "string"
            },
            {
              "id": "85caef38-b284-4476-b707-bdbfbbf3f65a",
              "name": "lieu_1",
              "value": "={{ $json.resultats[0].lieuTravail.libelle }}",
              "type": "string"
            },
            {
              "id": "a66cd502-8b26-4131-9119-4831bd6930db",
              "name": "lieu_2",
              "value": "={{ $json.resultats[1].lieuTravail.libelle }}",
              "type": "string"
            },
            {
              "id": "7d99a4f8-05ab-4c53-bd5d-3f4ed68ce3c0",
              "name": "lieu_3",
              "value": "={{ $json.resultats[2].lieuTravail.libelle }}",
              "type": "string"
            },
            {
              "id": "da4b449b-6e1e-4fa4-afbb-6c650fe5d391",
              "name": "contrat_1",
              "value": "={{ $json.resultats[0].typeContrat }}",
              "type": "string"
            },
            {
              "id": "6db23978-dc0a-43a4-acb0-6eab564881d9",
              "name": "contrat_2",
              "value": "={{ $json.resultats[1].typeContrat }}",
              "type": "string"
            },
            {
              "id": "888d75d2-6a33-4030-ab00-bee45c952e4c",
              "name": "contrat_3",
              "value": "={{ $json.resultats[2].typeContrat }}",
              "type": "string"
            },
            {
              "id": "4f99b903-b71d-413d-8aae-bdfbb3b430b0",
              "name": "description_1",
              "value": "={{ $json.resultats[0].description }}",
              "type": "string"
            },
            {
              "id": "bdacda02-3dea-42aa-8f9b-b64d35f5454f",
              "name": "longueur_description_1",
              "value": "={{ $json.resultats[0].description.length }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -912
      ],
      "id": "9b9d6ab7-1bb7-4779-b12b-911c8a3444d2",
      "name": "Analyse Résultats"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41d63bee-510a-4f2d-80ee-d1db2c9c557e",
              "name": "offre_id",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].id }}",
              "type": "string"
            },
            {
              "id": "64a36bc8-8c29-47dc-8d61-457f22c5bd18",
              "name": "titre",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].intitule }}",
              "type": "string"
            },
            {
              "id": "15e37d0f-7174-45c0-928f-7dc33eafd14d",
              "name": "entreprise",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].entreprise.nom }}",
              "type": "string"
            },
            {
              "id": "3e15e8e7-bc02-4592-870e-399ddfba7a5f",
              "name": "lieu",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].lieuTravail.libelle }}",
              "type": "string"
            },
            {
              "id": "6d1274ce-64c8-4ded-8423-1c3e6619dfdb",
              "name": "contrat",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].typeContrat }}",
              "type": "string"
            },
            {
              "id": "98f84e0c-667b-4d32-b8c3-8f0816adae87",
              "name": "experience",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].experienceLibelle }}",
              "type": "string"
            },
            {
              "id": "2039bcfb-2a74-4fdc-956f-706f4054f148",
              "name": "url",
              "value": "={{ $('France Travail - Offres').item.json.resultats[0].origineOffre.urlOrigine }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        -640
      ],
      "id": "4023118a-da2d-4ca8-9208-55e44d512fc3",
      "name": "Structure Simplifiée"
    },
    {
      "parameters": {
        "jsCode": "const offre = $('France Travail - Offres').item.json.resultats[0];\n\nconst titre = (offre.intitule || \"\").toLowerCase();\nconst description = (offre.description || \"\").toLowerCase();\nconst typeContrat = (offre.typeContrat || \"\").toLowerCase();\nconst typeContratLibelle = (offre.typeContratLibelle || \"\").toLowerCase();\nconst alternanceApi = offre.alternance === true;\n\nconst motsCles = [\n  \"devops\",\n  \"linux\",\n  \"docker\",\n  \"kubernetes\",\n  \"k8s\",\n  \"terraform\",\n  \"ansible\",\n  \"gitlab\",\n  \"github actions\",\n  \"ci/cd\",\n  \"aws\",\n  \"azure\",\n  \"gcp\",\n  \"cloud\"\n];\n\nconst motsClesAlternance = [\n  \"alternance\",\n  \"apprentissage\",\n  \"contrat apprentissage\",\n  \"professionnalisation\",\n  \"contrat pro\",\n  \"stage\"\n];\n\nconst texteGlobal = `${titre} ${description} ${typeContrat} ${typeContratLibelle}`;\n\nconst motsTrouves = motsCles.filter(mot =>\n  texteGlobal.includes(mot.toLowerCase())\n);\n\nconst motsAlternanceTrouves = motsClesAlternance.filter(mot =>\n  texteGlobal.includes(mot.toLowerCase())\n);\n\nconst alternanceDetectee =\n  alternanceApi ||\n  motsAlternanceTrouves.length > 0;\n\nreturn [\n  {\n    json: {\n      titre: offre.intitule,\n      contrat: offre.typeContrat,\n      contrat_libelle: offre.typeContratLibelle,\n      alternance_api: alternanceApi,\n      mots_cles_trouves: motsTrouves,\n      nombre_mots_cles: motsTrouves.length,\n      mots_alternance_trouves: motsAlternanceTrouves,\n      alternance_detectee: alternanceDetectee\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -848
      ],
      "id": "55ee4531-d1f8-4715-8cfc-0cd0efbfa01a",
      "name": "Moteur Mots Clés"
    },
    {
      "parameters": {
        "jsCode": "const data = $('France Travail - Offres').item.json;\nconst offres = data.resultats || [];\n\nconst vus = new Set();\nconst offresUniques = [];\nconst doublons = [];\n\nfor (const offre of offres) {\n  const id = offre.id || \"\";\n  const url = offre.origineOffre?.urlOrigine || \"\";\n  const cle = id || url;\n\n  if (!cle) continue;\n\n  if (vus.has(cle)) {\n    doublons.push({\n      id,\n      url,\n      intitule: offre.intitule\n    });\n  } else {\n    vus.add(cle);\n    offresUniques.push(offre);\n  }\n}\n\nreturn [\n  {\n    json: {\n      nombre_initial: offres.length,\n      nombre_uniques: offresUniques.length,\n      doublons_supprimes: doublons.length,\n      ids_uniques: offresUniques.map(o => o.id),\n      doublons,\n      offres_uniques: offresUniques\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -640
      ],
      "id": "1b56a242-48f5-41b8-bfc7-8457e61bba94",
      "name": "Suppression Doublons"
    },
    {
      "parameters": {
        "jsCode": "const offre = $('France Travail - Offres').item.json.resultats[0];\n\nconst texte =\n`${offre.intitule}\n${offre.description}\n${offre.typeContrat}\n${offre.typeContratLibelle}`.toLowerCase();\n\nlet score = 0;\n\nconst devops = [\n  \"devops\",\n  \"gitlab\",\n  \"github actions\",\n  \"jenkins\",\n  \"terraform\",\n  \"ansible\",\n  \"ci/cd\",\n  \"linux\"\n];\n\nconst cloud = [\n  \"aws\",\n  \"azure\",\n  \"gcp\",\n  \"cloud\"\n];\n\nconst kubernetes = [\n  \"kubernetes\",\n  \"k8s\",\n  \"helm\",\n  \"openshift\",\n  \"eks\",\n  \"aks\"\n];\n\nconst docker = [\n  \"docker\",\n  \"container\",\n  \"containers\",\n  \"podman\"\n];\n\nconst alternance = [\n  \"alternance\",\n  \"apprentissage\",\n  \"contrat pro\",\n  \"professionnalisation\"\n];\n\nif (devops.some(m => texte.includes(m))) score += 40;\nif (cloud.some(m => texte.includes(m))) score += 20;\nif (kubernetes.some(m => texte.includes(m))) score += 15;\nif (docker.some(m => texte.includes(m))) score += 15;\nif (alternance.some(m => texte.includes(m))) score += 10;\n\nreturn [\n  {\n    json: {\n      titre: offre.intitule,\n      score_pertinence: score\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -544
      ],
      "id": "3cc391cc-6ed0-436c-959d-651334d4744e",
      "name": "Score Pertinence"
    },
    {
      "parameters": {
        "jsCode": "const offres = $('Suppression Doublons').item.json.offres_uniques || [];\n\nconst categories = {\n  devops: [\"devops\", \"gitlab\", \"github actions\", \"jenkins\", \"terraform\", \"ansible\", \"ci/cd\", \"linux\", \"infrastructure\"],\n  cloud: [\"aws\", \"azure\", \"gcp\", \"cloud\"],\n  kubernetes: [\"kubernetes\", \"k8s\", \"helm\", \"openshift\", \"eks\", \"aks\"],\n  docker: [\"docker\", \"container\", \"containers\", \"podman\"],\n  alternance: [\"alternance\", \"apprentissage\", \"contrat pro\", \"professionnalisation\"]\n};\n\nfunction contientUnMot(texte, liste) {\n  return liste.some(mot => texte.includes(mot));\n}\n\nconst offresAvecScore = offres.map(offre => {\n  const texte = `\n    ${offre.intitule || \"\"}\n    ${offre.description || \"\"}\n    ${offre.typeContrat || \"\"}\n    ${offre.typeContratLibelle || \"\"}\n    ${offre.experienceLibelle || \"\"}\n    ${offre.romeLibelle || \"\"}\n    ${(offre.competences || []).map(c => c.libelle || \"\").join(\" \")}\n  `.toLowerCase();\n\n  let score = 0;\n\n  if (contientUnMot(texte, categories.devops)) score += 40;\n  if (contientUnMot(texte, categories.cloud)) score += 20;\n  if (contientUnMot(texte, categories.kubernetes)) score += 15;\n  if (contientUnMot(texte, categories.docker)) score += 15;\n  if (contientUnMot(texte, categories.alternance) || offre.alternance === true) score += 10;\n\n  return {\n    offre_id: offre.id || \"\",\n    titre: offre.intitule || \"\",\n    entreprise: offre.entreprise?.nom || \"\",\n    lieu: offre.lieuTravail?.libelle || \"\",\n    ville: offre.lieuTravail?.libelle || \"\",\n    code_postal: offre.lieuTravail?.codePostal || null,\n    contrat: offre.typeContrat || \"\",\n    type_contrat_libelle: offre.typeContratLibelle || \"\",\n    experience: offre.experienceLibelle || \"\",\n    salaire: offre.salaire?.libelle || \"\",\n    description: offre.description || \"\",\n    url: offre.origineOffre?.urlOrigine || \"\",\n    date_creation: offre.dateCreation || null,\n    date_actualisation: offre.dateActualisation || null,\n    alternance: offre.alternance === true,\n    rome_code: offre.romeCode || null,\n    rome_libelle: offre.romeLibelle || null,\n    competences_json: JSON.stringify(offre.competences || []),\n    score_pertinence: score\n  };\n});\n\noffresAvecScore.sort((a, b) => b.score_pertinence - a.score_pertinence);\n\nreturn [\n  {\n    json: {\n      nombre_offres: offresAvecScore.length,\n      offres_triees: offresAvecScore\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -960
      ],
      "id": "126ecc7a-911f-45f6-9d32-c4581327a50f",
      "name": "Tri Offres"
    },
    {
      "parameters": {
        "jsCode": "const offresTriees = $('Tri Offres').item.json.offres_triees || [];\n\nconst limite = 3;\n\nconst topOffres = offresTriees.slice(0, limite);\n\nreturn [\n  {\n    json: {\n      limite,\n      nombre_total: offresTriees.length,\n      nombre_selectionne: topOffres.length,\n      top_offres: topOffres\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -656
      ],
      "id": "15e19654-a510-40f6-866f-c4d9162a631c",
      "name": "Top Offres"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "offres",
          "mode": "list",
          "cachedResultName": "offres"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "alternance": false,
            "offre_id": "={{ $json.offre_id }}",
            "titre": "={{ $json.titre }}",
            "entreprise": "={{ $json.entreprise }}",
            "ville": "={{ $json.lieu }}",
            "contrat": "={{ $json.contrat }}",
            "score": "={{ $json.score_pertinence }}",
            "description": "={{ $json.description }}",
            "url": "={{ $json.url }}",
            "experience": "= {{ $json.experience }}",
            "rome_libelle": "={{ $json.rome_libelle }}",
            "rome_code": "={{ $json.rome_code }}",
            "salaire": "={{ $json.salaire }}",
            "type_contrat_libelle": "={{ $json.type_contrat_libelle }}",
            "code_postal": "={{ $json.code_postal }}",
            "date_collecte": "={{ $now.toISO() }}",
            "date_creation": "={{ $json.date_creation }}",
            "date_actualisation": "={{ $json.date_actualisation }}",
            "competences_json": "={{ {} }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "offre_id",
              "displayName": "offre_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titre",
              "displayName": "titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entreprise",
              "displayName": "entreprise",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ville",
              "displayName": "ville",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contrat",
              "displayName": "contrat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_collecte",
              "displayName": "date_collecte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience",
              "displayName": "experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "code_postal",
              "displayName": "code_postal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type_contrat_libelle",
              "displayName": "type_contrat_libelle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "salaire",
              "displayName": "salaire",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_creation",
              "displayName": "date_creation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_actualisation",
              "displayName": "date_actualisation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "alternance",
              "displayName": "alternance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "rome_code",
              "displayName": "rome_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rome_libelle",
              "displayName": "rome_libelle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "competences_json",
              "displayName": "competences_json",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -640
      ],
      "id": "bd01d531-0c41-444f-9b1d-366ca298b829",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "adnCXsoOGKbkXk68",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const offres = $json.top_offres;\n\nreturn offres.map(offre => ({\n  json: offre\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -896
      ],
      "id": "14963438-67f9-4425-a993-3c846c626a7c",
      "name": "Préparer Insertion SQL"
    },
    {
      "parameters": {
        "fromEmail": "kaidahmedalaa@gmail.com",
        "toEmail": "kaidahmedalaa@gmail.com",
        "subject": "Top offres DevOps - France Travail",
        "html": "=<h2>Top offres DevOps détectées</h2>\n\n<p>Bonjour Alaa,</p>\n\n<p>\nVoici les meilleures offres récupérées depuis France Travail par ton workflow n8n.\n</p>\n\n<hr>\n\n<h3>Résumé</h3>\n<ul>\n  <li>Source : France Travail</li>\n  <li>Workflow : France Travail - Collecte Offres V1</li>\n  <li>Date collecte : {{ $now.toFormat('dd/MM/yyyy') }}</li>\n  <li>Heure exécution : {{ $now.toFormat('HH:mm:ss') }}</li>\n</ul>\n\n\n<hr>\n\n<h3>Offres</h3>\n\n{{\n$('Top Offres').item.json.top_offres.map((offre, index) => `\n<div style=\"border:1px solid #ddd; padding:12px; margin-bottom:12px; border-radius:6px;\">\n\n  <h4>${index + 1}. ${offre.titre}</h4>\n\n  <p><strong>Entreprise :</strong> ${offre.entreprise}</p>\n\n  <p><strong>Ville :</strong> ${offre.lieu}</p>\n\n  <p><strong>Contrat :</strong> ${offre.contrat}</p>\n\n  <p><strong>Score :</strong> ${offre.score_pertinence}/100</p>\n\n  <p>\n    <a href=\"${offre.url}\" target=\"_blank\">\n      🔗 Voir l'offre sur France Travail\n    </a>\n  </p>\n\n</div>\n`).join('')\n}}\n\n<hr>\n\n<p>\nEmail envoyé automatiquement depuis n8n.\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        944,
        -256
      ],
      "id": "bb1db8cf-4011-47a0-8533-58c44a0eaefc",
      "name": "Send an Email",
      "webhookId": "b90f83a7-f823-4b15-ab05-c9a97e1f8c96",
      "alwaysOutputData": false,
      "credentials": {
        "smtp": {
          "id": "8d9UmRPlMc0V0qCb",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -160,
        -240
      ],
      "id": "7ce819ac-2513-47e4-a02c-2687a773c188",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_logs",
          "mode": "list",
          "cachedResultName": "workflow_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date_execution": "={{ $now.toISO() }}",
            "nombre_offres": "={{ $('Top Offres').item.json.nombre_total }}",
            "nombre_top_offres": "={{ $('Top Offres').item.json.nombre_selectionne }}",
            "statut": "SUCCESS",
            "duree_ms": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_execution",
              "displayName": "date_execution",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_offres",
              "displayName": "nombre_offres",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre_top_offres",
              "displayName": "nombre_top_offres",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "statut",
              "displayName": "statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duree_ms",
              "displayName": "duree_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        -224
      ],
      "id": "17041b4c-a632-4a11-8715-8f49497fbbac",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "adnCXsoOGKbkXk68",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "kaidahmedalaa@gmail.com",
        "toEmail": "kaidahmedalaa@gmail.com",
        "subject": "ERREUR - Workflow France Travail",
        "html": "=<h2>Erreur workflow France Travail</h2>\n\n<p>Bonjour Alaa,</p>\n\n<p>\nUne erreur a été détectée pendant l'exécution automatique du workflow.\n</p>\n\n<hr>\n\n<h3>Détails</h3>\n\n<ul>\n  <li>Workflow : France Travail - Collecte Offres V1</li>\n  <li>Date : {{ $now.toFormat('dd/MM/yyyy') }}</li>\n  <li>Heure : {{ $now.toFormat('HH:mm:ss') }}</li>\n  <li>Statut : ERROR</li>\n</ul>\n\n<hr>\n\n<p>\nVérifie dans n8n le node en erreur et les logs d'exécution.\n</p>\n\n<p>\nEmail automatique envoyé depuis n8n.\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        560,
        -64
      ],
      "id": "a5ea169e-3929-45c1-a50c-d0c91de07b08",
      "name": "Email Erreur",
      "webhookId": "b90f83a7-f823-4b15-ab05-c9a97e1f8c96",
      "alwaysOutputData": false,
      "credentials": {
        "smtp": {
          "id": "8d9UmRPlMc0V0qCb",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "France Travail - Offres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "France Travail - Offres": {
      "main": [
        [
          {
            "node": "Suppression Doublons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Résultats": {
      "main": [
        [
          {
            "node": "Structure Simplifiée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structure Simplifiée": {
      "main": [
        [
          {
            "node": "Moteur Mots Clés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suppression Doublons": {
      "main": [
        [
          {
            "node": "Tri Offres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moteur Mots Clés": {
      "main": [
        [
          {
            "node": "Score Pertinence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tri Offres": {
      "main": [
        [
          {
            "node": "Top Offres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Offres": {
      "main": [
        [
          {
            "node": "Préparer Insertion SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Analyse Résultats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Insertion SQL": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score Pertinence": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an Email": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b8508a65-6d21-4214-a61a-a79a16dd8776",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b10fee663d5659ae57fa70840d61cba0e435e56b8e4ff792608c41ed73405ff9"
  },
  "nodeGroups": [],
  "id": "cSQm4gW1QVFgA7rp",
  "tags": []
}